@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2 {
    margin: 10px 0;
    line-height: 1.2;
    font-weight: 300;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* NAVBAR */
.navbar {
    height: 70px;
    background-color: #047AED;
    color: white;
}

.navbar ul {
    display: flex;
}

.navbar a {
    margin: 0 5px;
    padding: 10px;
    color: white;
}

.navbar a:hover {
    border-bottom: 2px solid white;
}

.navbar .flex {
    justify-content: space-between;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: auto;/* removes 10px margin from h1 */
}

    /* auxiliary class 
    might be applied elsewhere */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
