@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2 {
    margin: 10px 0;
    line-height: 1.2;
    font-weight: 300;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}